<nav class="navbar navbar-admin">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Master/Control Dashboard</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      
      {% if auth.check %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ auth.user.username }}
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ path_for('logout') }}">Logout</a></li>
            </ul>
        </li>
      {% else %}
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}  
        
      
    </ul>
  </div>
</nav>